<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DoAn"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".IntroActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SelectLanguageActivity" />
        <activity android:name=".TopicActivityEnglish" />
        <activity android:name=".EducationActivity1" />
        <activity android:name=".EducationActivity2" />
        <activity android:name=".EducationActivity3" />
        <activity android:name=".EducationActivity4" />
        <activity android:name=".EducationActivity5" />
        <activity android:name=".EducationActivity6" />
        <activity android:name=".EducationActivity7" />
        <activity android:name=".EducationActivityEnd" />

        <activity android:name=".FamilyActivity1" />
        <activity android:name=".FamilyActivity2" />
        <activity android:name=".FamilyActivity3" />
        <activity android:name=".FamilyActivity4" />
        <activity android:name=".FamilyActivity5" />
        <activity android:name=".FamilyActivity6" />
        <activity android:name=".FamilyActivityEnd" />

        <activity android:name=".HealthActivity1" />
        <activity android:name=".HealthActivity2" />
        <activity android:name=".HealthActivity3" />
        <activity android:name=".HealthActivity4" />
        <activity android:name=".HealthActivity5" />
        <activity android:name=".HealthActivity6" />




    </application>

</manifest>